@import "tailwindcss";

/* Thiết lập màu nền và font chữ đặc trưng của Netflix */
:root {
  background-color: #141414;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Tránh cuộn ngang không mong muốn */
}

/* Tùy chỉnh thanh cuộn cho các hàng phim (Row) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
